@use 'basic-block.scss';

@keyframes warning-pulse {
  0% {
    border: solid 2px var(--trigger-border-color-base);
  }
  50% {
    border: solid 2px var(--trigger-border-color);
  }
  100% {
    border: solid 2px var(--trigger-border-color-base);
  }
}

advanced-camera-card-live-carousel {
  --trigger-border-color: var(--advanced-camera-card-trigger-border-color);
  --trigger-border-color-base: var(
    --advanced-camera-card-trigger-border-color-base,
    black
  );
}

advanced-camera-card-live-carousel[triggered] {
  animation: warning-pulse 5s infinite;
}
advanced-camera-card-live-carousel[selected] {
  --trigger-border-color-base: var(
    --advanced-camera-card-trigger-border-color-base,
    var(--advanced-camera-card-foreground-primary)
  );
}
